extends ../../layouts/default.pug 

block main 
  if (product.title)
    h1(class="mb-5") #{product.title}
  if (product.price)
    p(class="mb-5") price: <b>#{product.price}$</b>
  if (product.discountPercentage)
    p(class="mb-5") discount: <b>#{product.discountPercentage}%</b>
  if (product.stock)
    p(class="mb-5") stock: <b>#{product.stock}</b>
  if (product.thumbnail)
    img(
      class="image-preview mb-5"
      src=product.thumbnail
      )
  if (product.status) 
    div(class="mb-4")
      span status : 
      if (product.status === "active")
        span(
          class="badge badge-success badge-lg") active
      else if (product.status === "inactive")
        span(
          class="badge badge-danger badge-lg") inactive
  if (product.position)
    p(class="mb-5") position: <b>#{product.position}</b>
  if (product.description)
    span description : 
    p(class="mb-5") <b>!{product.description}</b>

  if (product)
    a(
      href=`${prefixAdmin}/products/edit/${product.id}`
      class="btn btn-warning btn-lg mt-5" 
      style="margin-right: 10px") edit

  script(src="/admin/js/products.js") 