extends ../../layouts/default.pug 

block main 
  if (product.title)
    h1(class="mb-5") #{product.title}
  if (product.price)
    p(class="mb-5") Giá: <b>#{product.price}$</b>
  if (product.discountPercentage)
    p(class="mb-5") Giảm giá: <b>#{product.discountPercentage}%</b>
  if (product.stock)
    p(class="mb-5") Số lượng: <b>#{product.stock}</b>
  if (product.thumbnail)
    img(
      class="image-preview mb-5"
      src=product.thumbnail
      )
  if (product.status) 
    div(class="mb-4")
      span Trạng Thái 
      if (product.status === "active")
        span(
          class="badge badge-success badge-lg") Hoạt động
      else if (product.status === "inactive")
        span(
          class="badge badge-danger badge-lg") Dừng hoạt động
  if (product.position)
    p(class="mb-5") Vị trí: <b>#{product.position}</b>
  if (product.description)
    p(class="mb-5") #{product.description}

  if (product)
    a(
      href=`${prefixAdmin}/products/edit/${product.id}`
      class="btn btn-warning btn-lg" 
      style="margin-right: 10px") Chỉnh sửa

  script(src="/admin/js/products.js") 