extends ../../layouts/default.pug
include ../../mixin/filterStatus.pug
include ../../mixin/search.pug
include ../../mixin/pagination.pug
include ../../mixin/form-change-multi.pug 
include ../../mixin/alert.pug
include ../../mixin/sort.pug
include ../../mixin/notAccess.pug
include ../../mixin/moment.pug 

block main 
  if (role.permissions.includes('products_view'))
    +alertSuccess(5000)
    +alertError(5000)
    h1 Danh sách sản phẩm
    .card.mb-3
      .card-header Bộ lọc và Tìm kiếm
      .card-body
        .row
          .col-6
            div(class="filter__actions")
              +filterStatus(filterStatus)
          .col-6
            +search("keyword",keyword)
    +sortProducts()
    .card
      .card-header Danh sách
        .card-body 
          .row
            .col-8
              if (role.permissions.includes('products_edit'))
                +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)
            .col-4
              if (role.permissions.includes('products_create'))
                a(
                  href=`${prefixAdmin}/products/create`
                  class="btn btn-outline-success"
                ) Tạo mới
          table(
            class="table table-hover table-sm table--product"
            checkbox-multi
            )
            thead 
              tr
                th  
                  input(type="checkbox" name="checkall")
                th STT
                th Hình Ảnh
                th Tiêu Đề
                th Giá
                th Vị trí
                th Trạng Thái
                th Người tạo
                th Hành Động
            tbody
              each item,index in products
                tr(class="product--item")
                  td 
                    input(
                      type="checkbox"
                      name="id"
                      value=item.id
                    )
                  td #{pagination.limit*(pagination.currentPage -1)+ (index+1)}
                  td
                    img(src=item.thumbnail alt=item.title style="width: 100px; height: 60px; border-radius: 5px")
                  td #{item.title}
                  td #{item.price} $
                  td 
                    input(
                      type="number"
                      value=item.position
                      style="width: 60px"
                      min="1"
                      name="position"
                    )
                  td
                    if (role.permissions.includes('products_edit'))
                      if item.status === "active"
                        a(
                          href="javascript:;"
                          class="badge badge-success badge-lg" 
                          data-status=item.status
                          data-id=item.id
                          button-change-status
                          id=item.id
                          ) Hoạt động
                      else 
                        a(
                        href="javascript:;"
                        class="badge badge-danger badge-lg" 
                        data-status=item.status
                        data-id=item.id
                        button-change-status
                        id=item.id
                        ) Không Hoạt động
                  td
                    if (item.accountFullName)
                      p #{item.accountFullName}
                      +momentFormatDateTime(item.createdBy.createdAt)
                  td
                    a(href=`${prefixAdmin}/products/detail/${item.id}`
                    class="btn btn-success btn-lg" 
                    style="margin-right: 10px") Chi tiết
                    if (role.permissions.includes('products_edit'))
                      a(href=`${prefixAdmin}/products/edit/${item.id}`
                      class="btn btn-warning btn-lg" 
                      style="margin-right: 10px") Sửa
                    if (role.permissions.includes('products_delete'))
                      button(
                        type="button" 
                        class="btn btn-danger btn-lg"
                        button-delete
                        data-id=item.id
                        ) Xóa
    +pagination(pagination)
    form(
      action=""
      method="POST"
      id="form-change-status"
      data-path=`${prefixAdmin}/products/change-status`
    )
    form(
      action=""
      method="POST"
      id="form-delete-product"
      data-path=`${prefixAdmin}/products/delete`
    )
    script(src="/admin/js/products.js") 
  else 
    +notAccess()