include ../mixin/menu.pug

header 
  div.header
    .header__logo
      a(href="/") 
        //- img(src=(settingGeneral.logo ? settingGeneral.logo : "/media/logo1.png") alt="logo" style="width: 100px")
        img(src="/media/logo 1.png" alt="logo")
    .header__menu
      ul
        li
          a(href="/") Trang chủ
        li(class="sub-menu")
          - const pathProduct = "/products";
          a(href=pathProduct) Sản phẩm
          //- layoutProductsCategory được trả ra từ middleware 
          if (layoutProductsCategory)
            +menu(layoutProductsCategory, pathProduct)
        li
          a(href="/") Bài viết
        li
          a(href="/") Liên hệ
    .header__form
      form(
        action=`/search`
        method="GET"
      )
        div(class="form-group d-flex mb-0")
          input(
            type="text"
            placeholder="Nhập từ khóa..."
            class="form-control"
            name="keyword"
            value=keyword
          )
          button(
            type="submit"
            class="btn btn-primary"
          ) <i class="bi bi-search"></i>
    .header__foruser 
      ul  
        li
          a(href="/cart") <i class="bi bi-bag"></i>(#{miniCart ? miniCart.totalQuantity : 0})
        li.sub_foruser
          <i class="bi bi-person-circle"></i>
          ul 
            if (user)
              li
                a(href="/user/info") #{user.fullName}
              li
                a(href="/user/logout") Đăng xuất
            else
              li
                a(href="/user/register") Đăng ký
              li
                a(href="/user/login") Đăng Nhập