include ../mixin/menu.pug

header 
  .container 
    div(class="row align-items-center justify-content-center")
      .col-3
        .inner-logo
          a(href="/") 
            img(src="/media/a.jpg" alt="logo" style="width: 100px")
      .col-6
        form(
          action=`/search`
          method="GET"
        )
          div(class="form-group d-flex mb-0")
            input(
              type="text"
              placeholder="Nhập từ khóa..."
              class="form-control"
              name="keyword"
              value=keyword
            )
            button(
              type="submit"
              class="btn btn-primary"
            ) Tìm
      .col-3
        .inner-menu
          ul
            li
              a(href="/") Trang chủ
            li(class="sub-menu")
              - const pathProduct = "/products";
              a(href=pathProduct) Sản phẩm
              //- layoutProductsCategory được trả ra từ middleware 
              if (layoutProductsCategory)
                +menu(layoutProductsCategory, pathProduct)
            li
              a(href="/cart") Giỏ hàng (#{miniCart ? miniCart.totalQuantity : 0})
            if (user)
              p #{user.fullName}
            else
              li
                a(href="/user/register") Đăng ký
              li
                a(href="/user/login") Đăng Nhập
