extends ../../layouts/default.pug

block main 
  if (category.title)
    h1.mb-5 #{category.title}
  if (category.position)
    p.mb-5 Position : <b>#{category.position}</b>
  if (category.status)
    if (category.status === 'active')
      span(
        class="badge badge-success badge-lg") active
    else if(category.status === 'inactive')
      span(
        class="badge badge-danger badge-lg") inactive
  if (category.thumbnail)
    img(
      class="image-preview mb-5"
      src=category.thumbnail
      )
  if (category.description)
    p.mb-5 !{category.description}
  if(category)
    a(
      href=`${prefixAdmin}/products-category/edit/${category.id}`
      class="btn btn-primary mt-5 btn-lg") edit
