extends ../../layouts/default.pug 
include ../../mixin/alert.pug
include ../../mixin/select.pug
include ../../mixin/notAccess.pug

block main 
  if (role.permissions.includes('products-category_edit'))
    h1(class="mb-4") Edit product category
    +alertSuccess(4000)
    +alertError(4000)
    form(
      action=`${prefixAdmin}/products-category/edit/${category.id}?_method=PATCH`
      id="form-create-products-category"
      method="POST"
      enctype="multipart/form-data"
    )
      div(class="form-group")
        label(for="title") Title
        input(
          type="text"
          class="form-control"
          id="title"
          name="title"
          value=category.title
        )
      div(class="form-group")
        label(for="parent_id") Category parent
        select(
          class="form-control mb-3"
          name="parent_id"
          categorys-select)
          option(value="" ) -- no --
          if (categorys)
            +selectTree(categorys,1,category.parent_id)
      div(class="form-group")
        label(for="desc") Description
        textarea(
          class="form-control textarea-tinyMCE"
          id="desc"
          name="description" 
          rows="5"
          ) !{category.description}
      div(
        upload-image
        class="form-group")
        label(for="thumbnail") Thumbnail
        input(
          type="file"
          class="form-control-file"
          id="thumbnail"
          name="thumbnail"
          accept="image/*"
          upload-image-input
        )
        img(
          class="image-preview"
          upload-image-preview 
          src=category.thumbnail
          )
        button(type="button" button-clear-preview class="button-clear-preview") x
      div(class="form-group")
        label(for="position") Position
        input(
          type="number"
          class="form-control"
          id="position"
          name="position"
          placeholder="Tự động tăng"
          min="1"
          value=category.position
        )
      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="statusActive"
          name="status"
          value="active"
          checked=category.status === "active"
        )
        label(for="statusActive" class="form-check-label") active
      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="statusInActive"
          name="status"
          value="inactive"
          checked=category.status === "inactive"
        )
        label(for="statusInActive" class="form-check-label") inactive
      div(class="form-group")
        button(
          type="submit"
          class="btn btn-primary"
        ) update
    script(src="/admin/js/products.js") 
  else 
    +notAccess()