extends ../../layouts/default.pug
include ../../mixin/alert.pug
include ../../mixin/select.pug
include ../../mixin/notAccess.pug
block main 
  if (role.permissions.includes('roles_edit'))
    h1 Chỉnh sửa nhóm quyền
    +alertSuccess(4000)
    +alertError(4000)
    form(
      action=`${prefixAdmin}/roles/edit/${role.id}?_method=PATCH`
      method="POST"
    )
      div(class="form-group")
        label(for="title") Tiêu đề
        input(
          type="text"
          class="form-control"
          id="title"
          name="title"
          value=role.title
        )
      div(class="form-group")
        label(for="desc") Mô tả
        textarea(
          class="form-control textarea-tinyMCE"
          id="desc"
          name="description" 
          rows="5"
          ) !{role.description}
      div(class="form-group")
        button(
          type="submit"
          class="btn btn-primary"
        ) Cập nhật
    script(src="/admin/js/products.js") 
  else 
    +notAccess() 
    p 1