extends ../../layouts/default.pug 
include ../../mixin/alert.pug
include ../../mixin/notAccess.pug
include ../../mixin/search.pug
include ../../mixin/pagination.pug

block main 
  if (role.permissions.includes('roles_view'))
    h1(class="mb-4") Rights group
    +alertSuccess(4000)
    +alertError(4000)
    .card.mb-3
      .card-header Filters and Search
      .card-body
        .row
          .col-6
          .col-6
            +search("keyword",keyword)
    .card.mb-3 
      .card-header List
      .card-body 
        .row.mb-3
          .col-8 
          .col-4.text-right 
            if (role.permissions.includes('roles_create'))
              a(
                href=`${prefixAdmin}/roles/create`
                class="btn btn-outline-success btn-lg"
              ) create
        table(
          class="table table-hover table-bordered table--product table-responsive-md"
          )
          thead 
            tr
              //- th  
              //-   input(type="checkbox" name="checkall")
              th index
              th title
              th description
              th action
          tbody
            each item,index in roles
              tr(class="product--item")
                //- td 
                //-   input(
                //-     type="checkbox"
                //-     name="id"
                //-     value=item.id
                //-   )
                td #{pagination.limit*(pagination.currentPage -1)+ (index+1)}
                td #{item.title}
                td !{item.description}
                td
                  a(href=`${prefixAdmin}/roles/detail/${item.id}`
                  class="btn btn-success btn-lg" style="margin: 5px; width: 60px;") detail
                  if (role.permissions.includes('roles_edit'))
                    a(href=`${prefixAdmin}/roles/edit/${item.id}`
                    class="btn btn-warning btn-lg" style="margin: 5px; width: 60px;") edit
                  if (role.permissions.includes('roles_delete'))
                    button(
                      type="button" 
                      class="btn btn-danger btn-lg"
                      button-delete
                      data-id=item.id
                      style="margin: 5px;"
                      ) delete
    +pagination(pagination)
    form(
      action=""
      method="POST"
      id="form-delete-product"
      data-path=`${prefixAdmin}/roles/delete`
    )
    script(src="/admin/js/products.js") 
  else 
    +notAccess()