mixin form-change-multi(path)
  form(
    action=path
    method="POST"
    form-change-multi-status
  )
    .d-flex.align-items-start   
      .form-group 
        select(name="type" class="form-control")
          option(disabled selected) -- option --
          option(value="active") active
          option(value="inactive") inactive
          option(value="delete-all") delete all
          option(value="change-position") change position
      .form-group 
        input(
          type="text",
          name="ids"
          value=""
          class="form-control"
          hidden
        )
      button(type="submit" class="btn btn-primary") Apply