mixin sortProducts()
  .card(class="mb-3")
    .card-header sort
    .card-body 
      .row  
        .col-5 
          div(sort)
            select(
              class="form-control mb-3"
              name="sort"
              sort-select
            )
              option(value="position-desc") descending position
              option(value="position-asc") increases position
              option(value="price-desc") descending price
              option(value="price-asc") increases price
              option(value="title-asc") title A - Z
              option(value="title-desc") title Z - A
            button(
              class="btn btn-danger btn-lg"
              sort-clear
              ) clear

mixin sortCategory()
  .card(class="mb-3")
    .card-header sort
    .card-body 
      .row  
        .col-4 
          div(sort)
            select(
              class="form-control mb-3"
              name="sort"
              sort-select
            )
              option(value="position-desc") descending position
              option(value="position-asc") increases position
              option(value="title-asc") title A - Z
              option(value="title-desc") title Z - A
            button(
              class="btn btn-danger"
              sort-clear
              ) clear
mixin sortAccount()
  .card(class="mb-3")
    .card-header sort
    .card-body 
      .row  
        .col-5 
          div(sort)
            select(
              class="form-control mb-3"
              name="sort"
              sort-select
            )
              option(value="fullName-asc") Name A - Z
              option(value="fullName-desc") Name Z - A
            button(
              class="btn btn-danger btn-lg"
              sort-clear
              ) clear