extends ../../layouts/default.pug 
include ../../mixin/alert.pug
include ../../mixin/notAccess.pug

block main 
  if (role.permissions.includes('account_edit'))
    h1(class="mb-4") Chỉnh tài khoản
    +alertSuccess(4000)
    +alertError(4000)
    if (!roles)
      p Bạn chưa có nhóm quyền nào, hãy tạo nhóm quyền trước
      a(
        href=`${prefixAdmin}/roles/create`
        class="btn btn-primary"
      )
    else
      form(
        action=`${prefixAdmin}/accounts/edit/${account.id}?_method=PATCH`
        id="form-edit-product"
        method="POST"
        enctype="multipart/form-data"
      )
        div(class="form-group")
          label(for="fullName") Họ tên
          input(
            type="text"
            class="form-control"
            id="fullName"
            name="fullName"
            value=account.fullName
          )
        div(class="form-group")
          label(for="email") Email
          input(
            type="email"
            class="form-control"
            id="email"
            name="email"
            value=account.email
          )
        div(class="form-group")
          label(for="password") Mật khẩu
          input(
            type="password"
            class="form-control"
            id="password"
            name="password"
          )
        div(class="form-group")
          label(for="phone") Số điện thoại
          input(
            type="text"
            class="form-control"
            id="phone"
            name="phone"
            value=account.phone
          )
        div(class="form-group")
          label(for="role_id") Phân quyền
          select(
            class="form-control mb-3"
            name="role_id"
            categorys-select)
            each role in roles
              option(value=role.id selected=role.id===account.role_id ? true : false) #{role.title} 
        div(
          upload-image
          class="form-group")
          label(for="avatar") Ảnh
          input(
            type="file"
            class="form-control-file"
            id="avatar"
            name="avatar"
            accept="image/*"
            upload-image-input
          )
          img(
            class="image-preview"
            upload-image-preview 
            src=account.avatar
            )
          button(type="button" button-clear-preview class="button-clear-preview") x
        div(class="form-group form-check form-check-inline")
          input(
            type="radio"
            class="form-check-input"
            id="statusActive"
            name="status"
            value="active"
            checked= account.status === "active"
          )
          label(for="statusActive" class="form-check-label") Hoạt động
        div(class="form-group form-check form-check-inline")
          input(
            type="radio"
            class="form-check-input"
            id="statusInActive"
            name="status"
            value="inactive"
            checked= account.status === "inactive"
          )
          label(for="statusInActive" class="form-check-label") Dừng Hoạt động
        div(class="form-group")
          button(
            type="submit"
            class="btn btn-primary"
          ) Cập nhật
    script(src="/admin/js/products.js") 
  else 
    +notAccess()