extends ../../layouts/default.pug 
include ../../mixin/product-layout.pug 
include ../../mixin/section-head.pug 
include ../../mixin/product-item.pug 
include ../../mixin/alert.pug 

block main
  +alertSuccess(4000)
  .container
    +section-head(titlePage)
    .row 
      .col-sm-3.col-md-2
        .filter 
          .filter__sider
            .filter__sort
              p Filter
              .sort__group
                label(for="position-desc") Filter by newest
                input(type="radio" name="sort" sort-product-radio value="position-desc" id="position-desc")
              .sort__group
                label(for="position-asc") filter by oldest
                input(type="radio" name="sort" sort-product-radio value="position-asc" id="position-asc")
              .sort__group
                label(for="price-asc") prices increase
                input(type="radio" name="sort" sort-product-radio value="price-asc" id="price-asc")
              .sort__group
                label(for="price-desc") prices decrease
                input(type="radio" name="sort" sort-product-radio value="price-desc" id="price-desc")
      .col-sm-9.col-md-10
        .list-product
          each item in products
            .col-12.col-sm-6.col-md-4
              +product-item-overlay(item)
        if (pagination.totalPage > 2)
          .loadmore
            ul.pagination
              li(class=`${pagination.currentPage-1 == 0 ? "disabled" : ""}`)
                a(href=`/products?page=${pagination.currentPage-1}`) prev
              - for (let i = 1; i <= pagination.totalPage ; i++)
                li(class=`${pagination.currentPage == i ? "active": ""}`)
                  a(href=`/products?page=${i}`) #{i}
              li(class=`${pagination.currentPage == pagination.totalPage ? "disabled" : ""}`)
                a(href=`/products?page=${pagination.currentPage+1}`) next
  script(src="/js/products.js")