mixin menu(items,path)
  //- ul
  //-   each item in items
  //-     li(class="sub-menu")
  //-       a(href=`${path}/${item.slug}`) #{item.title}
  //-       if (item.children && item.children.length > 0)
  //-         +menu(item.children,path)
  ul
    each item in items
      li(class="sub-menu-custom2")
        a(href=`${path}/${item.slug}`) #{item.title}
        if (item.children && item.children.length > 0)
          +menu(item.children,path)

