mixin product-item(item)
  .col-4.mb-3
    div(class="product--item")
      div(class="product--item--image")
        img(src=item.thumbnail alt=item.title)
        if (item.featuread === "1")
          div(class="inner-featuread") nổi bật
      div(class="product--item--content")
        h3
          a( 
            href=`/products/detail/${item.slug}`
            class="content__title") #{item.title}
        p(class="content__price--new") price new : #{item.priceNew}$
        p(class="content__price--old") price old : #{item.price}$
        span(class="content__discount") discount : -#{item.discountPercentage}%