mixin product-item-overlay(item)
  .product-image-wrapper
    .single-products
      .productinfo.text-center
        img(src=item.thumbnail alt=item.title)
        h2(style="margin-top: 10px") #{item.priceNew}$
        h2(style="margin-top: 0px; text-decoration: line-through") #{item.price}$
        p #{item.title}
        a.btn.btn-default.add-to-cart(href='#')
          i.fa.fa-shopping-cart
          | Add to cart
      a(href=`/products/detail/${item.slug}`)
        .product-overlay
          .overlay-content
            h2(style="margin-top: 0px") #{item.priceNew}$
            h2(style="margin-top: 0px; text-decoration: line-through") #{item.price}$
            p #{item.title}
            form(
              action=`/cart/add/${item._id}`
              method="POST"
            )
              input(
                type="number"
                class="form-control mb-2 hidden"
                name="quantity"
                value="1"
                min="1"
                max=item.stock
              )
              button.btn.btn-default.outline-none.add-to-cart(type="submit") Add to cart
        if (item.featuread === "1")
          img.new(src='/media/sale.png' alt='')
mixin product-item(item)
  a(href=`/products/detail/${item.slug}`)
    .productinfo.text-center
      img(src=item.thumbnail alt=item.title)
      h2(style="margin-top: 10px") #{item.priceNew}$
      h2(style="margin-top: 0px; text-decoration: line-through") #{item.price}$
      p #{item.title}
      form(
        action=`/cart/add/${item._id}`
        method="POST"
      )
        input(
          type="number"
          class="form-control mb-2 hidden"
          name="quantity"
          value="1"
          min="1"
          max=item.stock
        )
        button.btn.btn-default.add-to-cart(type="submit") Add to cart
    if (item.featuread === "1")
      img.new(src='/media/sale.png' alt='')