extends ../../layouts/default.pug

block main 
  .row.mt-4
    .col-12
      .card.mb-4 
        .card-header Account information
        .card-body
          if (user.avatar)
            img(
              style="width: 100px; height: 100px"
              src=user.avatar)
          if (user.fullName)
            p(class="mt-3") Name : <b> #{user.fullName}</b>
          if (user.email)
            p(class="mt-3") Email : <b> #{user.email}</b>
          if (user.phone)
            p(class="mt-3") Phone : <b> #{user.phone}</b>
          if (role)
            p(class="mt-3") Decentralization : <b> #{role.title}</b>
    .col-6
      .card.mb-4 
        .card-header Product category
        .card-body
          p(class="mt-3") quatity : <b> #{statistics.category.total}</b>
          p(class="mt-3") active : <b> #{statistics.category.active}</b>
          p(class="mt-3") inactive : <b> #{statistics.category.inactive}</b>
    .col-6
      .card.mb-4 
        .card-header Product
        .card-body
          p(class="mt-3") quantity : <b> #{statistics.product.total}</b>
          p(class="mt-3") active : <b> #{statistics.product.active}</b>
          p(class="mt-3") inactive : <b> #{statistics.product.inactive}</b>
    .col-6
      .card.mb-4 
        .card-header account admin
        .card-body
          p(class="mt-3") quantity : <b> #{statistics.account.total}</b>
          p(class="mt-3") active : <b> #{statistics.account.active}</b>
          p(class="mt-3") inactive : <b> #{statistics.account.inactive}</b>
    .col-6
      .card.mb-4 
        .card-header account client
        .card-body
          p(class="mt-3") quantity : <b> #{statistics.user.total}</b>
          p(class="mt-3") active : <b> #{statistics.user.active}</b>
          p(class="mt-3") inactive : <b> #{statistics.user.inactive}</b>